<h1>About</h1>
<p>This application provides information about various dog breeds.</p>
<h2>Data Sources</h2>
<p>We use the following data sources:</p>
<ul>
  <li><a href="https://dog.ceo/dog-api/">Dog CEO API</a>: Provides information and images for various dog breeds.</li>
  <li><a href="https://rubygems.org/gems/faker">Faker Gem</a>: Used to generate random data for owners and dog shows.</li>
</ul>
<h2>ERD</h2>
<p>The database schema for this application is as follows:</p>
<img src="/assets/erd_diagram.png" alt="ERD Diagram" />
